@import './_breakpoints.scss';

:root{
    --spacing-01: .4rem;
    --spacing-02: .8rem;
    --spacing-03: 1.2rem;
    --spacing-035: 1.8rem;
    --spacing-04: 2.4rem;

    --color-orange:hsl(35, 77%, 62%);
    --color-red: hsl(5, 85%, 63%);

    --color-white-100: #fff;
    --color-white-200: hsl(36, 100%, 99%);
    --color-white-300: hsl(233, 8%, 79%);

    --color-black-100: #000;
    --color-black-200: hsl(240, 100%, 5%);
    --color-black-300: hsl(236, 13%, 42%);

    --font-size-01: 2.2rem;

    @include respond-to("desktop"){
        --max-website-width: 100rem;
        --font-size-01: 2.0rem;
    }

    --standard-transition: .2s ease-in-out;
}